src/main/resources/wsdl/license.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="DZITService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="http://192.168.115.235/GSBExpressFasah/Other/ZakatCertificate/3.0/CertificateService.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="http://192.168.115.235/GSBExpressFasah/Other/ZakatCertificate/3.0/CertificateService.svc?xsd=xsd1" namespace="http://yesser.gov.sa/DZIT/ZakatCertificateService/version/3.0"/>
            <xsd:import schemaLocation="http://192.168.115.235/GSBExpressFasah/Other/ZakatCertificate/3.0/CertificateService.svc?xsd=xsd2" namespace="http://yefi.gov.sa/DZIT/ZakatCertificate/xml/schemas/version/3.0"/>
            <xsd:import schemaLocation="http://192.168.115.235/GSBExpressFasah/Other/ZakatCertificate/3.0/CertificateService.svc?xsd=xsd3" namespace="http://yefi.gov.sa/CommonTypes/xml/schemas/version2.0"/>
            <xsd:import schemaLocation="http://192.168.115.235/GSBExpressFasah/Other/ZakatCertificate/3.0/CertificateService.svc?xsd=xsd4" namespace="http://yefi.gov.sa/YEFIErrorStructure/xml/schemas/version2.3"/>
            <xsd:import schemaLocation="http://192.168.115.235/GSBExpressFasah/Other/ZakatCertificate/3.0/CertificateService.svc?xsd=xsd5" namespace="http://yefi.gov.sa/PersonProfileCommonTypes/xml/schemas/version2.0"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IDZITService_GetZakatCertificateBy700CodeforMainBranchOrSubBranches_InputMessage">
        <wsdl:part name="parameters" element="tns:GetZakatCertificateBy700CodeforMainBranchOrSubBranches"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificateBy700CodeforMainBranchOrSubBranches_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetZakatCertificateBy700CodeforMainBranchOrSubBranchesResponse"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificateBy700CodeforMainBranchOrSubBranches_commonErrorElement_FaultMessage">
        <wsdl:part name="detail" element="tns:commonErrorElement"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranches_InputMessage">
        <wsdl:part name="parameters" element="tns:GetZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranches"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranches_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranchesResponse"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranches_commonErrorElement_FaultMessage">
        <wsdl:part name="detail" element="tns:commonErrorElement"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificateByNationalityIDOrIqamaID_InputMessage">
        <wsdl:part name="parameters" element="tns:GetZakatCertificateByNationalityIDOrIqamaID"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificateByNationalityIDOrIqamaID_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetZakatCertificateByNationalityIDOrIqamaIDResponse"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificateByNationalityIDOrIqamaID_commonErrorElement_FaultMessage">
        <wsdl:part name="detail" element="tns:commonErrorElement"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificateByTINandCertificatesType_InputMessage">
        <wsdl:part name="parameters" element="tns:GetZakatCertificateByTINandCertificatesType"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificateByTINandCertificatesType_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetZakatCertificateByTINandCertificatesTypeResponse"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificateByTINandCertificatesType_commonErrorElement_FaultMessage">
        <wsdl:part name="detail" element="tns:commonErrorElement"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificatesByTIN_InputMessage">
        <wsdl:part name="parameters" element="tns:GetZakatCertificatesByTIN"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificatesByTIN_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetZakatCertificatesByTINResponse"/>
    </wsdl:message>
    <wsdl:message name="IDZITService_GetZakatCertificatesByTIN_commonErrorElement_FaultMessage">
        <wsdl:part name="detail" element="tns:commonErrorElement"/>
    </wsdl:message>
    <wsdl:portType name="IDZITService">
        <wsdl:operation name="GetZakatCertificateBy700CodeforMainBranchOrSubBranches">
            <wsdl:input wsaw:Action="http://tempuri.org/IDZITService/GetZakatCertificateBy700CodeforMainBranchOrSubBranches" message="tns:IDZITService_GetZakatCertificateBy700CodeforMainBranchOrSubBranches_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDZITService/GetZakatCertificateBy700CodeforMainBranchOrSubBranchesResponse" message="tns:IDZITService_GetZakatCertificateBy700CodeforMainBranchOrSubBranches_OutputMessage"/>
            <wsdl:fault wsaw:Action="http://yesser.gov.sa/DZIT/ZakatCertificateService/getZakatCertificateBy700CodeforMainBranchOrSubBranches" name="commonErrorElement" message="tns:IDZITService_GetZakatCertificateBy700CodeforMainBranchOrSubBranches_commonErrorElement_FaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranches">
            <wsdl:input wsaw:Action="http://tempuri.org/IDZITService/GetZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranches" message="tns:IDZITService_GetZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranches_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDZITService/GetZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranchesResponse" message="tns:IDZITService_GetZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranches_OutputMessage"/>
            <wsdl:fault wsaw:Action="http://yesser.gov.sa/DZIT/ZakatCertificateService/getZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranches" name="commonErrorElement" message="tns:IDZITService_GetZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranches_commonErrorElement_FaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetZakatCertificateByNationalityIDOrIqamaID">
            <wsdl:input wsaw:Action="http://tempuri.org/IDZITService/GetZakatCertificateByNationalityIDOrIqamaID" message="tns:IDZITService_GetZakatCertificateByNationalityIDOrIqamaID_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDZITService/GetZakatCertificateByNationalityIDOrIqamaIDResponse" message="tns:IDZITService_GetZakatCertificateByNationalityIDOrIqamaID_OutputMessage"/>
            <wsdl:fault wsaw:Action="http://yesser.gov.sa/DZIT/ZakatCertificateService/getZakatCertificateByNationalityIDOrIqamaID" name="commonErrorElement" message="tns:IDZITService_GetZakatCertificateByNationalityIDOrIqamaID_commonErrorElement_FaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetZakatCertificateByTINandCertificatesType">
            <wsdl:input wsaw:Action="http://tempuri.org/IDZITService/GetZakatCertificateByTINandCertificatesType" message="tns:IDZITService_GetZakatCertificateByTINandCertificatesType_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDZITService/GetZakatCertificateByTINandCertificatesTypeResponse" message="tns:IDZITService_GetZakatCertificateByTINandCertificatesType_OutputMessage"/>
            <wsdl:fault wsaw:Action="http://yesser.gov.sa/DZIT/ZakatCertificateService/getZakatCertificateByTINandCertificatesType" name="commonErrorElement" message="tns:IDZITService_GetZakatCertificateByTINandCertificatesType_commonErrorElement_FaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetZakatCertificatesByTIN">
            <wsdl:input wsaw:Action="http://tempuri.org/IDZITService/GetZakatCertificatesByTIN" message="tns:IDZITService_GetZakatCertificatesByTIN_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IDZITService/GetZakatCertificatesByTINResponse" message="tns:IDZITService_GetZakatCertificatesByTIN_OutputMessage"/>
            <wsdl:fault wsaw:Action="http://yesser.gov.sa/DZIT/ZakatCertificateService/getZakatCertificatesByTIN" name="commonErrorElement" message="tns:IDZITService_GetZakatCertificatesByTIN_commonErrorElement_FaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IDZITService" type="tns:IDZITService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetZakatCertificateBy700CodeforMainBranchOrSubBranches">
            <soap:operation soapAction="http://tempuri.org/IDZITService/GetZakatCertificateBy700CodeforMainBranchOrSubBranches" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="commonErrorElement">
                <soap:fault name="commonErrorElement" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranches">
            <soap:operation soapAction="http://tempuri.org/IDZITService/GetZakatCertificateByCommercialRegistrationNumberForMainBranchOrSubBranches" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="commonErrorElement">
                <soap:fault name="commonErrorElement" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetZakatCertificateByNationalityIDOrIqamaID">
            <soap:operation soapAction="http://tempuri.org/IDZITService/GetZakatCertificateByNationalityIDOrIqamaID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="commonErrorElement">
                <soap:fault name="commonErrorElement" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetZakatCertificateByTINandCertificatesType">
            <soap:operation soapAction="http://tempuri.org/IDZITService/GetZakatCertificateByTINandCertificatesType" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="commonErrorElement">
                <soap:fault name="commonErrorElement" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetZakatCertificatesByTIN">
            <soap:operation soapAction="http://tempuri.org/IDZITService/GetZakatCertificatesByTIN" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="commonErrorElement">
                <soap:fault name="commonErrorElement" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DZITService">
        <wsdl:port name="BasicHttpBinding_IDZITService" binding="tns:BasicHttpBinding_IDZITService">
            <soap:address location="http://192.168.115.235/GSBExpressFasah/Other/ZakatCertificate/3.0/CertificateService.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>